<div class="post">
    <h3>{{title}}</h3>
    <i>{{category}}</i>
    <p>{{body}}</p>
    <p><a href="/posts/{{id}}/edit">Edit Post</a></p>
    <form method="POST" action="/posts/{{id}}/delete" class="form">
        <button>Delete Post</button>
    </form>
</div>