<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home</title>
</head>
<body>
    {{> partials/header}}
    <div id="container">
        <form method="POST" action="/posts/{{post.id}}/edit" class="form">
            <input type="text" name="title" value="{{post.title}}" required>
            <input type="text" name="body" value="{{post.body}}" required>
            <select name="category" value="{{post.category}}" required>
                <option value="">Select a Category</option>
                <option>Javascript</option>
                <option>Python</option>
                <option>Dart</option>
                <option>Misc</option>
            </select>
            <button>Update Post</button>
        </form>
    </div>
</body>
</html>